*{scroll-behavior: smooth;}
body{background-image: url(aal.webp); 
background-repeat: no-repeat; background-size: cover; margin: 0px; }
.aa div{margin-left: 20px;}
.aa{border: 10px solid rgb(11, 15, 18); background-color: black; padding: 5px;}
a{margin: 10px; color: rgb(251, 248, 248); text-decoration: none; font-weight: bold; font-size: 25px;  }
h1{margin-left: 50px; margin-top: 52px;text-decoration:  double underline; } .h{float: left; margin-top: 20px; margin-left: 20px; }
a:hover{color: rgb(65, 59, 59);}
p{font-size: 30px; font-weight: bolder; max-width: 620px;  margin-left: 350px; margin-top: 50px; color: rgb(74, 115, 150);}
#as{border: 8px solid rgb(43, 42, 42); height: 200px; color: rgb(161, 150, 150); font-size: 40px; font-weight: 900; margin-top: 200px;}
.asmin{margin-top: 10px; margin-left: 30px;}
.ao{font-size: 25px; color: inherit; font-weight: 300; margin-bottom: 90px ; margin-left: 50px; text-decoration: underline;}
li{font-size: small; font-weight: 300;}
.ao:active{color: black;}
.f{float: right; margin-right: 80px; margin-top: 70px;}
.am{color: rgb(74, 115, 150); margin-left: 100px; margin-top: 3cm; }